{% extends 'administrator/base.html' %}
{% block content %}

<div>
  <div><b>{{ unit_name }} Unit Customers</b>
      <a href="{% url 'administrator:add_new_customer' %}" class="btn">
        <i class="fa-solid fa-plus px-2"></i>
        <span class="pr-3"> Add New Customer</span>
      </a>
  </div>
  <ul class="leading-10">
    {% for customer in customers %}
    <li><a href="{% url 'administrator:customer_detail' customer.id %}">{{ customer }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}