{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title> {{ blog.title }}(Blog) | AB Farms</title>
{% endblock %}
{% block content %}
<section class="first">
  <div class="second">
    <div class="third">
      <h1> Establishment</h1>
      <p>Afe Babalola Farms is a subsidiary of Afe Babalola University, Nigeria.</p>
      <p>It's establishment is not for any reason but a Man who is devoted and committed to making an inpactful difference in the education, health and Agricultural status of the country</p>
      <p>He has contributed positively to many developments at his immediate, local and nation </p>
      <h1>Vision</h1>
      <h1>Mission</h1>
    </div>
  </div>
</section>
{% endblock %}