{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title> {{ blog.title }}(Blog) | AB Farms</title>
{% endblock %}
{% block content %}
<section class="first">
  <div class="second">
    <div class="third">
      <h1 class="font-bold text-xl py-4"> Establishment</h1>
      <p>Afe Babalola Farms is a subsidiary of Afe Babalola University, Nigeria.</p>
      <p>It's establishment is not for any reason but a Man,
        <a href="https://afebabalola.com/are/" title="AARE AFE BABALOLA" class="font-bold link">AARE AFE BABALOLA</a>
        who is devoted and committed to making an inpactful difference on the education, health and Agricultural status of the country.
      </p>
      <p>He has contributed positively to many developments at his immediate, local and nation </p>
      <p>As a Farmer, and Out of his passion and willigness to contribute more to Agriculture, he started the Afe Babalola University farm in the
        quest to contributing to the food input of the country and for the last decade ABUAD Farm has been a key player in the Agricultural sector
        Ado-Ekiti, EKiti state, Nigeria and outside Nigeria.</p>

      <h1 class="font-bold text-xl py-4">Mission</h1>
      <p>We are making sure that food scarcity will never be an event that humanity will witness.</p>
      <p>Everybody will have access to quality food and food products and will be available at a bearable cost.</p>
      <p>Jobs creation and employment opportunities.</p>

      <h1 class="font-bold text-xl py-4">Vision</h1>
      <p>Incooporating more to the food and Goods being produced here.</p>
      <p>Expanding our product reach to many parts of the world.</p>
      <p>Creation of more jobs so that more people will be employed.</p>

    </div>
  </div>
</section>
{% endblock %}