{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'images/abuadlogofavicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Readex+Pro&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">  <!-- AOS -->

  {% block title %}
  <title>Afe Balalola University | ABUAD FARM</title>
  {% endblock %}
  {% tailwind_css %}
</head>

<style>
  .active {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1900ms;
  }

  /* I AM LAZY TO USE TAILWIND */
  li a:hover {
    text-decoration: underline;
  }


  @keyframes fade {
    from {
      opacity: .3
    }

    to {
      opacity: 1
    }
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {
      font-size: 11px
    }
  }
</style>

<body id="body">
  {% if messages %}
  <!-- THIS IS FOR FLASH MESSAGE(MOSTLY WHEN USER LOGS OUT) -->
  <ul class="fixed bg-black text-white w-full p-4 text-center" id="pop-up">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>

    {% endfor %}
  </ul>
  {% endif %}

  <div>
    {% include 'base/navbar.html' %}

    <!-- THIS IS WHERE THE CONTENT STARTS -->

    <div class="min-h-[70vh] relative">
      {% block content %}
      {% endblock %}
    </div>
    {% include 'base/footer.html' %}

  </div>
  <script src="{% static 'js/script.js' %}"></script>
  <!-- AOS -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>