{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Afe Balalola University | ABUAD FARM - ADMINISTRATOR PAGE</title>
</head>

<body>

  <h1 class="w-4/12 p-2 heading md:hidden">
    <a href="{% url 'home' %}">
      <img src="{% static 'images/afe-uni-logo.png' %}" alt="ABUAD FARM">
    </a>
  </h1>

  <H1>
    THIS IS THE ADMIN PAGE
  </H1>

  <h2>
    {% if user.is_authenticated %}
    <a href="{% url 'administrator:logout' %}">Logout</a>
    {% endif %}
  </h2>
</body>

</html>