{% extends 'administrator/base.html' %}
{% load most_sold_tags %}
{% load humanize %}
{% load static %}
{% block content %}

<section>
  <div class="flex justify-between gap-3 flex-wrap">
    <div class="card p-4 w-60">
      <b><sup>Revenue</sup></b> <br>
      {% if start_date and end_date %} <small>
        {{ start_date }} - {{ end_date }}
      </small>
      {% elif check_date %}
      <small>
        {{ check_date }}
      </small>
      {% endif %}
      <div>&#8358; {{ total | intcomma }}</div>
    </div>
    <div class="card p-4 w-52">Conversion</div>
    <div class="card p-4 w-52">
      <sup>Visitors</sup>
    </div>
    <form class="flex w-60 items-center" action="" method="post">
      {% csrf_token %}
      <input class="cursor-pointer border-white border-b-black" type="date" name="start-date" id="start-date">
      <span class="items-center">&nbsp; - &nbsp;</span>
      <input class="cursor-pointer border-white border-b-black" type="date" name="end-date" id="end-date">
      <input class="border rounded-lg p-1 h-10 cursor-pointer hover:bg-black hover:text-white" type="submit" value="Search">
    </form>
  </div>
</section>
<section>
  <div>
    <div class="card w-full h-[550px] mt-6 p-4">Dashboard
      <div class="text-center">
        {% if start_date and end_date %} <small>
          Revenue Chart from {{ start_date }} to {{ end_date }}
        </small>
        {% elif check_date %}
        <small>
          Revenue Chart for {{ check_date }}
        </small>
        {% endif %}
      </div>
      <div class="h-[90%]" id="chartdiv"></div>

    </div>
  </div>
</section>

<section class="mt-10">
  <table class="w-full border-solid border-2 border-black-500">
    <caption class="mb-4">Most Sold Items</caption>
    <tr>
      <th>Product</th>
      <th>Times Sold</th>
      <th>Revenue</th>
    </tr>
    {% for good in selling_frequency %}
    <tr>
      <td>{{ good }}</td>
      <td>{{ selling_frequency|times_sold:good }}</td>
      <td> &#8358; {{ selling_frequency|revenue:good }}</td>
    </tr>
    {% endfor %}
  </table>
</section>


<script src="{% static 'js/homeChart.js' %}"></script>
<script>
  const url = "{% url 'administrator:home_chart' %}";
  const startDate = "{{ start_date }}";
  const endDate = "{{ end_date }}";
  const checkDate = "{{ check_date }}";
  // This load the chart on homeChart.js
  window.onload = loadChart()
</script>
{% endblock %}