{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Agronomy Section | ABUAD Farms</title>
{% endblock %}
{% block content %}



<section class="first">
  <div class="second">
    <div class="third">
      <div>
        <h1>AGRONOMY SECTION</h1>

        Our Agronomy Unit is comprised of different units amongst which we cultivate one of the most preferred chili pepper, the Harbanero Pepper
        <i>Caspicum chinese</i>.
        Our pepper is cultivated in controlled, pest free environment with adequate monitoring and healthy growth and marketable. We pick only the
        ripest
        and most delicious fruits to produce the best quality of chili peppers.

        Also Tomatoes are cultivated here...................................
      </div>

      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 5</div>
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 5</div>
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 5</div>
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Three</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">4 / 5</div>
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Four</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">5 / 5</div>
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Five</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

      </div>
      <br>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
      </div>
    </div>
  </div>
</section>


{% endblock %}