{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Mango Factory | ABUAD Farms</title>
{% endblock %}

{% block content %}
<section class="first">
  <div class="second">
    <div class="third">
      <div>
        <h1>MANGO SECTION</h1>
        Mangoes plucked and harvested from our mango farm are being processed right here into mango juice which are just natural fruit which is made
        from locally grown mango fruits, free from chemicals and fits for consumption. It provides a balance between sweetness, texture and taste..
      </div>

      <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Three</div>
        </div>

        <div class="mySlides fade">
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Four</div>
        </div>

        <div class="mySlides fade">
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Five</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

      </div>
      <br>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
      </div>
    </div>
  </div>
</section>

{% endblock %}