{% extends 'base/base.html' %}
{% load static %}
{% block content %}

{% block title %}
<title>Piggery Section | ABUAD Farms</title>
{% endblock %}

<div class="w-11/12 md:w-4/5 m-auto p-6">
  <h1>PIGGERY SECTION</h1>
  The best care a pig can ever recieve is being given to our Pigs.
  We breed pigs and pigglets that are free from disease and best for consumption. Our artisan is committed to providing the highest quality of food to our customers. We only use the best breeding stock to ensure a quality product.
</div>

<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">1 / 5</div>
    <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 5</div>
    <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 5</div>
    <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
    <div class="text">Caption Three</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 5</div>
    <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
    <div class="text">Caption Four</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 5</div>
    <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
    <div class="text">Caption Five</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
</div>

<script src="{% static 'js/script.js' %}"></script>


{% endblock %}


