{% extends 'base/base.html' %}
{% load static %}
{% block title %}
<title>Wood Furniture | ABUAD Farms</title>
{% endblock %}

{% block content %}
<section class="first">
  <div class="second">
    <div class="third">
      <div>
        <h1>WOOD FURNITURE SECTION</h1>
        Here the best and quality wood furnitures are made from our locally grown and carefully selected resistant trees species that will
        longetivity.
      </div>

      <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Text</div>
        </div>

        <div class="mySlides fade">
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Two</div>
        </div>

        <div class="mySlides fade">
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Three</div>
        </div>

        <div class="mySlides fade">
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Four</div>
        </div>

        <div class="mySlides fade">
          <img src="{% static 'images/img.jpg' %}" alt="ABUAD " style="width: 100%;">
          <div class="text">Caption Five</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

      </div>
      <br>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
      </div>
    </div>
  </div>
</section>
{% endblock %}