{% extends 'users/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
<title>Dashboard | ABUAD Farm</title>
{% endblock %}

{% block content %}
<div class="">
  {% if empty_dashboard %}
  <strong>
    You do not have a dashboard Yet
  </strong>
  {% else %}
  <!-- THIS DISPLAYS THE GRAPH -->
  <div id="chartdiv" class="w-full h-[700px] mb-10"> </div>
  <div>
    <!-- THIS DISPLAYS DIFFERENT GOOD USER BUYS AND CAN CLICK IT TO FILTER -->
    <div class="mb-4">
      <div class="relative mr-4 mb-4">
        <div id="dropdown" class="cursor-pointer dropdown">
          <i class="fa-solid fa-filter pr-2"></i>
          Filter Unit
          <i class="fa-solid fa-caret-down pl-2"></i>
        </div>
    
        <div id="product-dropdown" class="product-dropdown scale-dropdown absolute transition ease-in-out delay-200">
          <div class="w-40 py-2 m-auto card text-left leading-10">
            {% for unit in user_units %}
            <a href="{% url 'dashboard' %}?s={{ unit.unit }}"
              class="w-full px-4 pl-6 inline-block hover:bg-black hover:text-white">{{ unit.unit }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      <button class="m-1">
        <a href="{% url 'dashboard' %}">
          <span id="chart" class="text-center px-2 inline-block">All</span>
        </a>
      </button>

      {% for user_good in user_goods %}
      <button class="m-1">
        <a href="{% url 'dashboard' %}?q={{ user_good.item }}">
          <span id="chart" class="text-center px-0 inline-block">{{ user_good.item }}</span>
        </a>
      </button>
      {% endfor %}
    </div>

    <table class="w-full border-solid border-2 border-black-500 ">
      <caption class="mb-2 font-bold">
        Recent Purchases
      </caption>
      <tr>
        <th>Date</th>
        <th>Item</th>
        <th>Mass (kg)</th>
        <th>Price (&#8358;)</th>
        <th>Note </th>
      </tr>
      {% for good in goods %}
      <tr>
        <td>{{ good.date_ordered|date:"D, d M Y"}}</td>
        <td>{{ good.item }}</td>
        <td>{{ good.quantity }}</td>
        <td>{{ good.price }}</td>
        <td>
          {% if good.description %}
          <a class="text-blue-800 underline font-bold cursor-pointer" href="{% url 'purchase_description' good.id %}">View</a>
          {% else %}
          
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      <th>Total</th>
      <td colspan="2"></td>
      <td> &#8358; {{ total|intcomma }}</td>
    </table>

    <section>
      <br>
      <!-- THIS KEY WORD OF HREF ATTR GET ARGUMENTS IS TO KNOW IF THE USER HAS SOME FILTER PARAMS -->
      <a class="btn py-2" target="_blank" href="{% url 'dashboard' %}?export=view-pdf{% if q %}&q={{q}}{% endif %}{% if s %}&s={{s}}{% endif %}">View PDF</a>
      <a class="btn" href="{% url 'dashboard' %}?export=download-pdf{% if q %}&q={{q}}{% endif %}{% if s %}&s={{s}}{% endif %}">Download as PDF</a>
      <a class="btn" href="{% url 'dashboard' %}?export=excel{% if q %}&q={{q}}{% endif %}{% if s %}&s={{s}}{% endif %}">Download as Excel</a>
      <a class="btn" href="{% url 'dashboard' %}?export=csv{% if q %}&q={{q}}{% endif %}{% if s %}&s={{s}}{% endif %}">Download as CSV</a>
    </section>
  </div>

  <!-- THIS ENDIF BELOW CLOSES THE IF OF THE EMPTY DASHBOARD -->
  {% endif %}
</div>

<script src="{% static 'js/UserDashboardchart.js' %}"></script>
<script>
  const url = "{% url 'chart' %}";
  const goodName = '{{q}}';
  const goodUnit = '{{s}}';
  // THE LOADCHART FUNCTION IS IN UserDashboardchart.JS
  window.onload = loadChart()
</script>
{% endblock %}