<footer class="mt-24 p-1 md:p-4 bg-gray-800 text-center text-white">
  <div class="flex justify-around">
    <h2>
      <a class="logo" href="{% url 'home' %}">AB FARMS</a>
    </h2>
    <section>
      <h2 class="mb-10">
        <!-- AFE BABALOLA UNIVERSITY FARM, ADO-EKITI KM. 8.5, AFE BABALOLA WAY, ADO-EKITI NIGERIA -->
        AB Farms , ADO-EKITI KM. 8.5, AFE BABALOLA WAY, ADO-EKITI NIGERIA
      </h2>
    </section>
    <h2>
      <!-- ABUAD Farm &copy; 2022. All Rights Reserved -->
      AB Farm &copy; 2022. All Rights Reserved
    </h2>
  </div>
</footer>