{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<div class="w-11/12 md:w-full m-auto p-6">


  {% if not user_messages %}
  <strong>
    You Have No Message
  </strong>
  {% else %}

  {% for user_message in user_messages %}
  {% if user_message.read %}
  <small>{{ user_message.date }}</small>
  <h2><b>{{ user_message.title }}</b></h2>
  <p>{{ user_message.body }}</p>
  {% else %}

  <small>{{ user_message.date }}</small>
  <h2><b>{{ user_message.title }}</b></h2>
  <p>{{ user_message.body|truncatewords:5 }}</p>
  <button class="px-6 py-2" data-pk="{{ user_message.id }}" onclick="readMessage(this)">Read</button>
  {% endif %}
  <br><br>
  {% endfor %}

  {% endif %}
</div>


<script>
  const url = "{% url 'read_message' %}";
</script>
{% endblock %}