{% extends 'users/base.html' %}

{% block title %}
<title>Notifications | ABUAD Farm</title>
{% endblock %}

{% block content %}

<div class="w-full m-auto p-1">
  <div>
    {% if not user_notifications %}
    <strong>
      You Have No Notifications
    </strong>
    {% else %}

    {% for user_notification in user_notifications %}
    <small>{{ user_notification.date }}</small>

    <p>Dear <b>{{ user_notification.owner }}</b> your purchase of <b> {{ user_notification.good.quantity }}Kg of {{ user_notification.good.item }}</b> has been recorded, we hope you enjoy it.
      <br>
      Thanks for your patronage
    </p>
    {% if user_notification.good.description %}
    <a href="{% url 'purchase_description' user_notification.good.id %}" class="text-blue-800 underline font-bold cursor-pointer">Click Here to
      View</a>
    {% endif %}
    <br> <br>
    <hr>

    
{% endfor %}
{% endif %}
  </div>
</div>
{% endblock %}