{% extends 'staff/base.html' %}

{% block title %}
<title>Customers | ABUAD FARM - STAFF</title>
{% endblock %}

{% block content %}

<form class="mb-6" action="">
  <input type="text" placeholder="Search Customer..." name="customer" id="search-customer">
</form>

<div>
  <div>
    <b class="mr-3">{{ unit_name }} Unit Customers</b>
    <a href="{% url 'staff:add_new_customer' %}" class="btn">
      <i class="fa-solid fa-plus px-1"></i>
      <span class="pr-3"> Add New Customer</span>
    </a>
  </div>
  <!-- <ul class="leading-10">
    {% for customer in customers %}
    <li><a href="{% url 'staff:customer_detail' customer.id %}">{{ customer }}</a></li>
    {% endfor %}
  </ul> -->

  <div class="flex flex-wrap mt-4">
    {% for customer in customers %}
    <a class="p-3 inline-block border border-solid border-black" href="{% url 'staff:customer_detail' customer.id %}">
      {{ customer }} &#40;{{ customer.first_name }} {{ customer.last_name }}&#41;
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}