{% extends 'staff/base.html' %}
{% load humanize %}
{% block content %}

<div class="container">
  <div class="mb-24">
    <div>{{ unit_customer }}</div>
    <div>{{ unit_customer }}</div>
    <div>{{ unit_customer }}</div>
  </div>

    <div class="flex">
        <a href="{% url 'staff:add_purchase' %}?q={{ unit_customer.id }} " class="mr-6 btn">
          <i class="fa-solid fa-plus px-2"></i> 
          <span class="pr-3"> Add Purchase </span>
        </a>

        <a href="{% url 'staff:send_customer_message' %}?q={{ unit_customer.id }}" class="btn">
          <i class="fa-solid fa-envelope px-2"></i>
          <span class="pr-3"> Send message </span>
        </a>
    </div>
    <table class="w-full border-solid border-2 border-black-500 ">
      <caption class="mb-4">
        {{ unit_customer }} recent {{ unit_name }} Purchases
      </caption>
     
      <tr>
        <th>Date</th>
        <th>Item</th>
        <th>Weight (kg)</th>
        <th>Price (&#8358;)</th>
        <th>Note </th>
      </tr>
      {% for good in customer_unit_goods %}
      <tr>
        <td>{{ good.date_ordered|date:"d M Y"}}</td>
        <td>{{ good.item }}</td>
        <td>{{ good.quantity }}</td>
        <td>{{ good.price }}</td>
        <td>
          {% if good.note %}
          <span class="text-blue-800 underline font-bold cursor-pointer" onclick="alert('{{ good.note }}')">{{ good.note|truncatewords:2 }}</span>
          {% else %}
          ---
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      <th>Total</th>
      <td colspan="2"></td>
      <td> &#8358; {{ total|intcomma }}</td>
    </table>

</div>
{% endblock %}