{% extends 'staff/base.html' %}
{% load humanize %}
{% block content %}

<div class="mb-4 text-center flex flex-wrap gap-3 items-start">

  <a href="{% url 'staff:home' %}?day=recently" class="btn">Recent</a>

  <a href="{% url 'staff:home' %}?day=today" class="btn">Today</a>

  <a href="{% url 'staff:home' %}?day=yesterday" class="btn">Yesterday</a>

  <a href="{% url 'staff:home' %}?day=last week" class="btn">Last Week</a>

  <div class="relative">
    <a href="" class="relative btn">Select Date</a>
    <div class="absolute hidden bg-white top-10">
      <form action="" method="get">
        <label for="start-date"> From:
          <input type="date" name="start-date" id="">
        </label>
        <label for="end-date"> To:
          <input type="date" name="end-date" id="">
        </label>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>

  <!-- THIS IS THE FILTER PRODUCT -->
  <div class="relative">
    <div id="dropdown" class="cursor-pointer dropdown">
      <i class="fa-solid fa-filter pr-2"></i>
      Filter Product
      <i class="fa-solid fa-caret-down pl-2"></i>
    </div>

    <div id="product-dropdown" class="product-dropdown scale-dropdown absolute transition ease-in-out delay-200">
      <div class="w-40 py-2 m-auto card text-left leading-10">
        {% for product in products %}
        <a href="{% url 'staff:home' %}?product={{ product }}{% if day %}&day={{ day }}{% endif %}"
          class="w-full px-4 pl-6 inline-block hover:bg-black hover:text-white">{{ product }}</a>
        {% endfor %}
      </div>
    </div>
  </div>

</div>


<div class="my-4">
  <!-- <div>{{day|title}} Sold Goods at {{ unit_name }} Unit</div> -->
  <!-- <div> {{day|title}} Most Sold goods </div>
  <div>Highest generated Goods</div> -->
</div>

<table class="w-full border-solid border-2 border-black-500 ">
  <caption class="mb-4">
    <!-- {{ unit_customer }} recent {{ unit_name }} Purchases -->
    {{day|title}} {% if filter_product %} {{ filter_product }} Sold {% else %} Sold Good at {{ unit_name }} Unit {% endif %}
  </caption>

  <tr>
    <th>Customer</th>
    <th>Date</th>
    <th>Item</th>
    <th class="">Mass(kg)</th>
    <th>Price (&#8358;)</th>
    <th>Note </th>
  </tr>
  {% for good in goods %}
  <tr>
    <td>{{ good.owner }}</td>
    <td>{{ good.date_ordered|date:"D, d M Y"}}</td>
    <td>{{ good.item }}</td>
    <td>{{ good.quantity }}</td>
    <td>{{ good.price }}</td>
    <td>
      {% if good.description %}
      <a href="{% url 'staff:purchase_description' good.id %}" class="text-blue-800 underline font-bold cursor-pointer">View</a>
      {% else %}
      ---
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  <th>Total</th>
  <td colspan="3"></td>
  <td colspan="2"> &#8358; {{ total|intcomma }}</td>
</table>


{% endblock %}